/*Global style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Global style*/

/*Tags*/
html {
    height: 100%;
}
body {
    font-family: sans-serif;
    padding: 0;
    min-height: 100%;
}
video {
    max-width: 352px;
}
footer {
    background-color: #272727;
    padding: 0;
}
h1 {
    color: white;
}
p,
h3,
h5,
h6 {
    color: black;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
/*Tags*/

/*Logo Img*/
.logo img {
    height: 100px;
    width: 100px;
}
.style-container {
    padding: 5px 5%;
}
.logo {
    padding: 10px 20px;
}
.button-margin {
    font-size: larger;
    color: #e2171d;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}
.button-margin:hover {
    color: yellow;
}
/*Logo Img*/

/*Navbar*/
.header {
    background-color: #272727;
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.menu-bar {
    display: flex;
    margin-right: 20px;
    list-style: none;
}
.nav-responsive {
    display: flex;
    justify-content: space-between;
}
.nav-style-font {
    color: white;
    text-decoration: none;
}
.nav-menu-sections {
    font-size: 18px;
    margin: 0 8px;
    line-height: 100px;
    width: max-content;
}
.nav-link-hover {
    padding: 5px 8px;
    border-radius: 10px;
}
.nav-link-hover:hover {
    background-color: black;
    color: #e2171d;
    transition: 0.5s;
}
.navButton-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 85px;
    cursor: pointer;
    display: none;
}
.navButton-toggle:hover {
    color: yellow;
}
/*Navbar*/

/*Sections*/
.section-home {
    background: url("../img/sectionBackground/desktop_background1.jpg")
        no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    padding-bottom: 80px;
}
.section-home p {
    text-align: center;
}
.section-about {
    background: url("../img/sectionBackground/desktop_background2.jpg")
        no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.section-about p,
h5,
h6,
h3 {
    text-align: center;
}
.section-teachers {
    background: url("../img/sectionBackground/desktop_background3.jpg")
        no-repeat fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.section-teachers p,
h5,
h5 {
    text-align: center;
}
.section-offers {
    background: url("../img/sectionBackground/desktop_background4.jpg")
        no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.section-offers article {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.section-offers article img {
    width: 100%;
}
.section-offers article .layer-img {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #181cf58c;
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.section-offers article:hover > .layer-img {
    opacity: 1;
    visibility: visible;
}
.section-comments {
    background: url("../img/sectionBackground/desktop_background5.jpg")
        no-repeat fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.section-lessons {
    background: url("../img/sectionBackground/desktop_background6.jpg")
        no-repeat fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    padding-bottom: 50px;
}
.section-lessons h4 {
    text-align: center;
}
/*Sections*/

/*Margin videos*/
.imacbackground {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 120px;
}
.imacbackground iframe {
    position: absolute;
    top: 5%;
    left: 3%;
    height: 95%;
    width: 95%;
}
.imacbackground img {
    width: 100%;
}
/*Margin videos*/

/*efect and more*/
.social-media {
    text-align: center;
}
.heading {
    text-align: center;
}
.margin-top-bttn {
    height: 45%;
}
.footer-font-color h5 {
    color: white;
}
.efect-logo {
    transition: 1s ease;
}
.efect-logo:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.team-box {
    background: #f5f5f563;
    border-radius: 0.5rem;
}
.heading {
    padding: 50px 0;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.imgEffect {
    transition: 1s ease;
}
.imgEffect:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
/*efect and more*/

/*flooter effect*/
a#linkCopy {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
a#linkCopy:hover {
    color: rgb(255, 255, 255);
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoWhatsapp:hover {
    background-color: #04b10d;
}
.social-network a.icoFacebook:hover {
    background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoInstagram:hover {
    background-color: #cf3984;
}
.social-network a.icoYoutube:hover {
    background-color: #d80707;
}
.social-network a.icoTiktok:hover {
    background-color: #000000;
}
.social-network a.icoWhatsapp:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoTiktok:hover i {
    color: #fff;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
/*flooter effect*/

/*Video*/
.video-item {
    text-align: center;
}
.video-plays {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}
.video-plays .video-container {
    background: #f5f5f563;
    border-radius: 8px;
    padding: 10px;
}
.video-plays .video-container video {
    width: 100%;
    border-radius: 8px;
}
.video-plays .video-container .title-video {
    padding-top: 15px;
    padding-bottom: 15px;
}
.video-plays .video-list {
    background: #f5f5f563;
    border-radius: 8px;
    height: 747px;
    overflow-y: scroll;
}
.video-plays .video-list::-webkit-scrollbar {
    width: 7px;
}
.video-plays .video-list::-webkit-scrollbar-track {
    background: white;
    border-radius: 50px;
}
.video-plays .video-list::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: 50px;
}
.video-plays .video-list .vid video {
    width: 80px;
    border-radius: 8px;
}
.video-plays .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.video-plays .video-list .vid:hover {
    background: #3e3e3e;
}

.video-plays .video-list .vid.activate {
    background: #808080;
}
/*Video*/

/*Galley*/
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    cursor: cell;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}
#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}
#photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
#photos img {
    padding: 0.2rem;
}
#photos img:hover {
    filter: grayscale(70%);
}
/*Galley*/

/*Modal*/
.imgModal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #ffffff81;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
.modalView {
    transform: translateX(0);
}
.imgModal img {
    max-width: 100%;
}
.fa-solid.fa-rectangle-xmark {
    position: absolute;
    color: #000000;
    font-size: 40px;
    cursor: pointer;
    top: 30px;
    right: 30px;
}
/*Modal*/

/*Contac Form*/
#section-map {
    margin: 0.5rem;
}
.btn.btn-theme {
    background-color: blue;
    color: white;
}
.locationContainer {
    padding: 15px;
    display: none;
}
input#date {
    color: black;
}
/*Contac Form*/

/*Columns & rows*/
#v-pc {
    padding-top: 20px;
}
.space-item {
    height: 300px;
}
.p-flex {
    height: 200px;
}
/*Columns & rows*/
